
				<ul class="nav nav-list">
					<li>
						<a href="#" class="dropdown-toggle">
							<i class="icon-dashboard"></i>
							<span class="menu-text"> Licencias </span>

							<b class="arrow icon-angle-down"></b>
						</a>

						<ul class="submenu">
							<li>
										<a href="#">
											<i class="icon-plus"></i>
											Crear Licencia
										</a>
									</li>

									<li>
										<a href="#" class="dropdown-toggle">
											<i class="icon-eye-open"></i>

											Ver Licencia
										</a>
									</li>
							</li>
						</ul>
					</li>

					<li>
						<a href="#" class="dropdown-toggle">
							<i class="icon-desktop"></i>
							<span class="menu-text"> Liquidaciones </span>

							<b class="arrow icon-angle-down"></b>
						</a>

						<ul class="submenu">
									<li>
										<a href="#">
											<i class="icon-plus"></i>
											Crear Liquidación
										</a>
									</li>

									<li>
										<a href="#" class="dropdown-toggle">
											<i class="icon-eye-open"></i>

											Ver Liquidación
										</a>
									</li>
						</ul>
					</li>

					<li>
						<a href="#" class="dropdown-toggle">
							<i class="icon-user bigger-110"></i>
							<span class="menu-text"> Contribuyentes </span>

							<b class="arrow icon-angle-down"></b>
						</a>

								<ul class="submenu">
									<li>
										<a href="#">
											<i class="icon-plus"></i>
											Añadir Nuevo
										</a>
									</li>

									<li>
										<a href="/sdr/" class="dropdown-toggle">
											<i class="icon-search"></i>

											Buscar Contribuyente
										</a>
									</li>
								</ul>
					</li>

					<li>
						<a href="#" class="dropdown-toggle">
							<i class="icon-credit-card bigger-110"></i>
							<span class="menu-text"> Pagos </span>

							<b class="arrow icon-angle-down"></b>
						</a>

						<ul class="submenu">
									<li>
										<a href="/contrib/crear_pago/">
											<i class="icon-plus"></i>
											Cargar pago
										</a>
									</li>

									<li>
										<a href="#" class="dropdown-toggle">
											<i class="icon-search"></i>

											Consultar pago
										</a>
									</li>
						</ul>
					</li>

				</ul><!--/.nav-list-->
